<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>My beautiful homepage</title>
		<link rel="stylesheet" type="text/css" href="public/css/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<header>
			<!-- Navbar: I know there is a way to grab HTML and 'yield' it on a default layout, but I've yet to learn a way to do this with JS -->
			<nav id="navbar">
				<ul>
					<li><a class="button" href="/">Home</a></li>
					<li><a class="button" href="/about">About</a></li>
					<li><a class="button" href="/contact">Contact</a></li>
				</ul>
			</nav>
	</header>
	<body>
		<div class="container">
			<h1>Home</h1>
			<p>Welcome to my Weather application!</p>
			<div id="searchbar">
				{{msg}}
				<form action="fetchWeatherFor" id="search-form" method="post">
					<label for="search">Enter your 5-digit ZIP code:</label>
					<input type= "number" name="search" id="search">
					<input class="button" type="submit" name="submit" value="Submit">
					<div class="msg"></div>
				</form>
			</div>
		</div>


		<div class="cards">
			<h2>Weather for some popular cities:</h2>
			<div class="card">
				<img src="https://www.trbimg.com/img-5a3d3316/turbine/ct-edit-amazon-chicago-rank-edit-20171206" alt="Chicago" width="200em">
				<h3>Chicago</h3>
				<ul>
					<li>Temperature: </li>
					<li>Precipitation: </li>
					<li>Sunup: </li>
					<li>Sundown: </li>
				</ul>
			</div>
			<div class="card">
				<img src="https://cbsnews1.cbsistatic.com/hub/i/2014/02/05/f4aa5c7b-7949-4f8e-8141-f9421db78fda/manhattan2.jpg" alt="New York" width="200em">
				<h3>New York</h3>
				<ul>
					<li>Temperature: </li>
					<li>Precipitation: </li>
					<li>Sunup: </li>
					<li>Sundown: </li>
				</ul>
			</div>
			<div class="card">
				<img src="https://mewanttravel.com/wp-content/uploads/2016/01/15882405713_7a51be7dd6_o.jpg" alt="San Francisco" width="200em">
				<h3>San Francisco</h3>
				<ul>
					<li>Temperature: </li>
					<li>Precipitation: </li>
					<li>Sunup: </li>
					<li>Sundown: </li>
				</ul>
			</div>
		</div>
		<div class="clr"></div>
		<script src="public/weatherpage.js"></script>
		{{#each data}}
			<script type="text/javascript">
				clear();
				let loc = "{{this.Location}}";
				let p_temp = "{{this.Temp}}";
				let p_pre = "{{this.Precip}}";
				let p_sup = "{{this.Sup}}";
				let p_sdn = "{{this.Sdn}}";
				newCard(loc, p_temp, p_pre, p_sup, p_sdn);
			</script>
		{{/each}}
	</body>
	<footer>
		<!-- <ul>
			<li>This page will be where the majority of work is done.</li>
			<li>It will by default display the top three queried locations, or substitute large cities of my choice</li>
			<li>Users will be prompted to enter a postal code to a location for which they would like to know the weather</li>
			<li>The post request will send the user back to the home page but with only info on the specified location</li>
			<li>Most of the rendering of this page will depend on JS</li>
		</ul> -->
	</footer>
</html>
